body{
    background-color: #050816;
    color: white;
}

.card:hover{
    box-shadow: 0 0 25px cyan;
    transform: scale(1.03);
    transition: 0.3s;
}

 /* patara mfrinavi ragaceebi */
body::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-image:
        radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
        radial-gradient(rgba(255, 255, 255, 0.6), rgba(255,255,255,.1) 1px, transparent 30px),
        radial-gradient(rgba(220, 53, 69, 0.4), rgba(220, 53, 69, 0.1) 3px, transparent 40px); /* wertliebs aketebs */
    background-size: 550px 550px, 350px 350px, 450px 450px;
    background-position: 0 0, 40px 60px, 130px 270px;
    opacity: 0.4;
    animation: flyThroughSpace 5s linear infinite; /* es aris ra sicchqarit vardebian da samudamod */
    z-index: -1; /* amit card-ebis ukan iqneba eg mfrinavi wertilebi */
}


@keyframes flyThroughSpace {
    from {
        transform: translateY(0px) rotate(0deg);
    }
    to {
        transform: translateY(350px) rotate(4deg);
    }
}