{% extends "base.html" %}

{% block title %} ABOUT PAGE {% endblock %}

{% block content %}
<h1>This is ABOUT page</h1>
<hr>
<p>Hello! I made this project because I had it as homework. In this website there are all eight planets + Pluto.
    There is also the sun, the moon and a black hole. You can find all the information about each space object in 'see details' page.
    You can also add a planet. People can put their opinions and reviews on your planet if you add one.
    If you are an admin you can also delete a planet. If you want to have 'add planet' and 'update planet' features you have to log in.
    If you do not have an account register. Thank you for visiting the website! I hope you enjoy it!  :)</p>
<img src = "https://cdn.pixabay.com/photo/2020/03/07/19/17/fish-4910666_1280.jpg" alt = "Fish" width = 400>
{% endblock %}

